<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static "election_watch/home.css" %}">
    <script src="../js/home.js"></script>
    <script src="https://kit.fontawesome.com/2cf9464d02.js" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="../assets/css/omega.css">
    <script src="../assets/js/omega.js"></script>

</head>
<body>

  <div class="container">
    <div class="logo">
        <a href="#"> <img src="{% static "election_watch/images/logo.png" %}" alt="logo"></a>
    </div>

    <div  class="ewmid">
        <h1>Election Watch Back Office</h1>
    </div>

    <div class="navbar">
        <ul id="nav-list">
            <li class="close"><span onclick="Hide()">X</span></li>
            <li><img class="userPicture" src="{% static "election_watch/images/user.png" %}" alt="" /></li>
            <li><a href="#"> Username</a></li>
        </ul>
    </div>
  </div>

    <div class="sidebar">
      <div id="links">
        <br/>
        <div class="dropdown">
            <a href="{% url "register" %}" class="">
                <i class="fas fa-cash-register"></i>Registration
                <i class="fas fa-caret-down" class="dArrow"></i>
            </a>

            <div class="dropdownContent">
                <a href="{% url "register-agents" %}">
                    <i class="fas fa-user-secret"></i> Agents</a>

                <a href="{% url "register-inst" %}" class="">
                  <i class="fas fa-university"></i> Institution
              </a>

              <a href="{% url "register-location" %}" class="">
                  <i class="fas fa-compass"></i> Location
              </a>

          </div>
        </div>
        <a href="{% url "dashboard" %}" class="active">
          <i class="fas fa-columns"></i> Dashboard
        </a>
        <a href="{% url "incidents" %}" class="">
          <i class="fas fa-exclamation-circle"></i> Incidents
        </a>
        <a href="{% url "feedback" %}"><i class="fas fa-comments"></i> Feedback </a>
        <a href="{% url "reports" %}" class="">
          <i class="fas fa-chart-pie"></i> Reports/Stats
        </a>
  
        <a href="{% url "results" %}"><i class="fas fa-poll"></i> Results </a>
  
        <div class="sidebarBottom">
          <button id="call" class="btnCall">
            <a href="#" class="call">
              <i class="fas fa-phone-volume"></i> Make a Call
            </a>
          </button>
          <a href="../../index.html"> <i class="fas fa-sign-out-alt"></i> Logout</a>
        </div>
      </div>
    </div>

    <div class="content">
        
      <div class="generalInfo">
          <div class="TV">
              <h2>
                  Total Voters
                  <br>
                  21,903,213
              </h2>
          </div>

          <div class="counted">
              <h2>
                  Counted 
                  <br>
                  21,500,499
              </h2>
          </div>

          <div class="perc">
              <h2>
                  Percentage
                  <br>
                  98%
              </h2>
          </div>
      </div>
  </div>

  <div class="mainContentD">
      <div class="map">
        <!-- <div class="folium-map" id="map_138f4a67fa4b4b95b9629fa70e5bde3d" ></div> -->
          {% include "election_watch/map.html" %}
      </div>



      <div class="results">
          <div class="radios">
              <input type="radio" name="status" id="National" class="r"> National
              <input type="radio" name="status" id="Region" class="r"> Region
              <input type="radio" name="status" id="Constituency" class="r"> Constituency
          </div>

          <input type="text" name="searchBar" id="searchBar" placeholder=" Search" class="searchBar">

          
          <div class="incidLoc">
            <table>
                <tr>
                    <th>Incidence</th>
                    <th>Location</th>
                </tr>
                <tr>
                    <td><i class="fas fa-check-square"></i></td>
                    <td>Ashanti</td>
                </tr>
                <tr>
                    <td><i class="fas fa-check-square"></i></td>
                    <td>Eastern</td>
                </tr>
                <tr>
                    <td><i class="fas fa-check-square"></i></td>
                    <td>Western</td>
                </tr>
                <tr>
                    <td><i class="fas fa-exclamation-triangle"></i></td>
                    <td>Greater Accra</td>
                </tr>
            </table>
            <table>
              <tr>
                  <th>Incidence</th>
                  <th>Location</th>
              </tr>
              <tr>
                  <td><i class="fas fa-check-square"></i></td>
                  <td>Ashanti</td>
              </tr>
              <tr>
                  <td><i class="fas fa-check-square"></i></td>
                  <td>Eastern</td>
              </tr>
              <tr>
                  <td><i class="fas fa-check-square"></i></td>
                  <td>Western</td>
              </tr>
              <tr>
                  <td><i class="fas fa-exclamation-triangle"></i></td>
                  <td>Greater Accra</td>
              </tr>
          </table>
        </div>

        <div class="incidLoc">
          <table>
              <tr>
                  <th>Incidence</th>
                  <th>Location</th>
              </tr>
              <tr>
                  <td><i class="fas fa-check-square"></i></td>
                  <td>Ashanti</td>
              </tr>
              <tr>
                  <td><i class="fas fa-check-square"></i></td>
                  <td>Eastern</td>
              </tr>
              <tr>
                  <td><i class="fas fa-check-square"></i></td>
                  <td>Western</td>
              </tr>
              <tr>
                  <td><i class="fas fa-exclamation-triangle"></i></td>
                  <td>Greater Accra</td>
              </tr>
          </table>
          <table>
            <tr>
                <th>Incidence</th>
                <th>Location</th>
            </tr>
            <tr>
                <td><i class="fas fa-check-square"></i></td>
                <td>Ashanti</td>
            </tr>
            <tr>
                <td><i class="fas fa-check-square"></i></td>
                <td>Eastern</td>
            </tr>
            <tr>
                <td><i class="fas fa-check-square"></i></td>
                <td>Western</td>
            </tr>
            <tr>
                <td><i class="fas fa-exclamation-triangle"></i></td>
                <td>Greater Accra</td>
            </tr>
        </table>
      </div>

          <div class="resultsTable">
              <div id="result" class="result">
                <table>
                  <tr>
                    <th># of Registered Voters</th>
                    <th>Votes Counted</th>
                    <th>Percentage</th>
                  </tr>
                  <tr>
                    <td>123,456</td>
                    <td>12400</td>
                    <td>9%</td>
                  </tr>
                  <tr>
                    <td>123,456</td>
                    <td>12400</td>
                    <td>9%</td>
                  </tr>
                </table>
              </div>
          </div>
          <div class="key">
              <i class="fas fa-check-square"></i>  : No Report Cases 
              <i class="fas fa-exclamation-triangle"></i>  : Reported Cases
              <i class="fas fa-fire"></i>  : Trouble  
          </div>
      </div>
  </div>

<script>

  function Show() {
    var x = document.getElementById("links");
    if (x.style.display === "block") {
      x.style.display = "none"
    } else {
      x.style.display = "block"
    }
  }




</script>


</body>
</html>
