<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static "election_watch/home.css" %}">
    <link rel="stylesheet" href="{% static "election_watch/log.css" %}">

    <script src="{% static "election_watch/js/home.js" %}"></script>
    <script src="https://kit.fontawesome.com/2cf9464d02.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="container">
        <div class="logo">
            <a href="html/dashboard.html"> <img src="{% static "election_watch/image/logo.png" %}" alt="logo"></a>
        </div>
  
        <div  class="ewmid">
            <h1>Election Watch Back Office</h1>
        </div>
  
        <div class="navbar">
            <div class="icon-bar" onclick="Show()">
                <i></i>
                <i></i>
                <i></i>
                <i></i>
            </div>
  
            <ul id="nav-list">
                <li class="close"><span onclick="Hide()">X</span></li>
                <li><img class="userPicture" src="{% static "election_watch/images/user.png" %}" alt="" /></li>
                <li><a href="#"> Username</a></li>
            </ul>
        </div>
    </div>
    <div class="mainContent2">

        {% block content %}
        <form action="#" method="POST" class="form">
            {% csrf_token %}
            <h1> Sign Up </h1>
            <br>
            <input type="text" name="email" id="email" placeholder=" Please Enter Your Email Address" class="tInput">
            <br>
            <input type="text" name="username" id="username" placeholder=" Please Enter Your Username" class="tInput">
            <br>
            <input type="password" name="password" id="password" placeholder=" Please enter a Secure Password" class="tInput">
            <br>
            <input type="password" name="password2" id="password2" placeholder="Please confirm your password" class="tInput">
            <br>
            <button type="submit" class="signUpButton"> Sign Up </button>
            <a href="{% url "login" %}">Already have an account? Log In</a>
        </form>
        {% endblock content %}
    </div>

</body>
</html>
