*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

*{
  font-family: 'Roboto', sans-serif;
  /* overflow: hidden; */
}

body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  background-color: #03588C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  position: fixed;
  height: 100px;
  z-index: 1;
  justify-content: center;
}

.container .logo {
  max-width: 250px;
  padding: 0 10px;
  overflow: hidden;
  padding-left: 40px;
  position: fixed;
  left: 35px;
  justify-content: center;
}

.container .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* height: 80px; */
}

.container .logo a img {
  max-width: 120px;
  /* max-height: 80px; */
}

.container .ewmid{
  display: grid;
  justify-self: center;
  color: #ffffff;
}

.container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 10px;
  float: right;
  right: 0px;
  position: fixed;
}

.container .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.container .navbar ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  padding: 0 10px;
}

.container .navbar ul li a:hover {
  color: #ffffff;
  background-color: rgba(23, 23, 23, 0.9);
}

.container .navbar ul .close {
  display: none;
  text-align: right;
  padding: 10px;
}

.container .navbar ul .close span {
  font-size: 40px;
  display: inline-block;
  border: 1px solid #cccccc;
  padding: 0 10px;
  cursor: pointer;
}

.container .navbar .icon-bar {
  padding: 18px 8px;
  width: 50px;
  height: 60px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}

.container .navbar .icon-bar i {
  background-color: #ffffff;
  height: 2px;
}

@media only screen and (max-width:800px) {
  .container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .container .logo {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    left: 0px;
    padding-left: 0px;
  }

  .container .navbar {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
    float: right;
  }

  .container .ewmid{
    display: none;
  }

  .container .navbar ul {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: fixed;
    left: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #ffffff;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: left .3s;
    -o-transition: left .3s;
    transition: left .3s;
    float: right;
  }

  .container .navbar ul li a {
    padding: 10px;
    font-size: 16px;
    height: auto;
    line-height: normal;
    color: #ffffff;
  }

  .container .navbar ul .close {
    display: block;
  }

  .container .navbar .icon-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .container .navbar ._Menus-show {
    left: 0;
  }
}

.body {
  max-width: 700px;
  margin: 0 auto;
  padding: 10px;
}

.sidebar{
  margin: 0;
  padding: 0%;
  width: 250px;
  background-color: #03588C;
  position: fixed;
  height: 100%;
  overflow: hidden;
  font-size: 16px;
  top: 90px;
}

.sidebar a{
  display: block;
  color: #ffffff;
  padding:16px;
  text-decoration: none;
  width: 250px;
}

.sidebar li{
    list-style: none;
}

.sidebar a.active{
  background-color: #ffffff;
  color: #000000;
}

.sidebar a:hover:not(.active){
  color: #F27F3D;
  cursor: pointer;
}

.sidebar .sidebarBottom{
  bottom: 1px;
  position: fixed;
  width: 180px;
}

.sidebar .sidebarBottom a:hover:not(.call){
  color: red;
}

.sidebar .sidebarBottom a:hover{
  color: rgb(6, 255, 6);
}

.content{
  padding: 1px 16px;
  height: 100%;
  align-content: center;
  justify-content: center;
  display: flex;
  padding-top: 120px;
}

.content .generalInfo{
  align-content: center;
  display: flex;
  margin-top: 50px;
  text-align: center;
}

.content .search{
  align-content: center;
  display: flex;
  margin-top: 100px;
  text-align: center;
  width: 500px;
  height: 50px;
  border: 2px solid #cccccc;
  justify-content: center;
  border-radius: 10px;
}

.searchContent{
  width: 500px;
  border: none;
  justify-content: center;
}

.searchButton{
  margin: 12px;
  margin-top: 15px;
}

.TV{
  display: flex;
  border: 2px solid #cccccc;
  margin: 5px;
  margin-right: 30px;
  padding: 5px;
  background-color: #cccccc;
  box-shadow: 1px 1px 1px 2px rgb(189, 187, 187);
  width: 200px;
  text-align: center;
  justify-content: center;
  border-radius: 15px;
}

.counted{
  display: flex;
  border: 2px solid #03588C;
  margin: 5px;
  margin-right: 30px;
  margin-left: 30px;
  padding: 5px;
  background-color: #03588C;
  box-shadow: 1px 1px 1px 2px #034e7c;
  width: 200px;
  text-align: center;
  color: #ffffff;
  justify-content: center;
  border-radius: 15px;
}

.perc{
  display: flex;
  border: 2px solid #cccccc;
  margin: 5px;
  margin-left: 30px;
  padding: 5px;
  background-color: #cccccc;
  box-shadow: 1px 1px 1px 2px rgb(189, 187, 187);
  width: 200px;
  text-align: center;
  justify-content: center;
  border-radius: 15px;
}

h2{
    text-align: center;
}

@media only screen and (max-width:800px){
  .content{
    justify-content: center;
    align-content: center;
    margin-left: 0px;
    background-color: #03588C;
    padding-bottom: 30px;
    color: #ffffff;
  }

  .content .generalInfo{
    display: flex;
    justify-content: center;
    margin-right: 20px;
  }

  .content .generalInfo .TV{
    display: flex;
    border: 2px solid #ffffff;
    margin: 5px;
    margin-bottom: 30px;
    margin-left: 30px;
    padding: 5px;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px 2px rgb(189, 187, 187);
    width: 100px;
    font-size: 7pt;
    text-align: center;
    justify-content: center;
    border-radius: 15px;
    height: 70px;
  }

  .content .generalInfo .counted{
    display: flex;
    border: 2px solid #09273F;
    margin: 5px;
    margin-bottom: 30px;
    margin-left: 30px;
    padding: 5px;
    background-color: #09273F;
    box-shadow: 1px 1px 1px 2px #034e7c;
    width: 100px;
    font-size: 7pt;
    text-align: center;
    justify-content: center;
    border-radius: 15px;
  }

  .content .generalInfo .perc{
    display: flex;
    border: 2px solid #ffffff;
    margin: 5px;
    margin-bottom: 30px;
    margin-left: 30px;
    padding: 5px;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px 2px rgb(189, 187, 187);
    width: 100px;
    font-size: 7pt;
    text-align: center;
    justify-content: center;
    border-radius: 15px;
  }

  .content .search{
  align-content: center;
  display: flex;
  margin-top: 10px;
  text-align: center;
  width: 80%;
  height: 50px;
  border: 2px solid #cccccc;
  justify-content: center;
  border-radius: 40px;
  background-color: #ffffff;
  }

  [type=text]{
    border-radius: 40px;
}


  .mainContent .map{
    margin-top: 50px;
  }
}
.mainContent{
  margin-left: 200px;
  margin-top: 50px;
  padding: 1px 16px;
  display: flex;
  height: 600px;
  z-index: 10;
  align-content: center;
  justify-content: center;
}

.map{
  display: flex;
  width: 500px;
    
}

.incidLoc{
  display: flex;
  width: 200px;
  margin-left: 10px;
}

.results{
  width: 400px;
  margin-left: 30px;
  justify-content: space-between;
}

.radios{
  justify-content: center;
  height: 20px;
  text-align: center;
}

.searchBar{
  margin-top: 10px;
  border: 1.5px solid #919191;
  height: 40px;
  width: 400px;
  font-size: 20px;
  display: flex;
  align-content: center;
  color: #000000;
  border-radius: 15px;
  font-size: 20px;
  color: #000000;
}

.resultsTable{
  background-color: #f5f4f4;
  height: 450px;
  margin-top: 30px;
  width: 400px;
  border-radius: 15px;
}

.key{
  font-size: 10pt;
}

.key i{
  margin: 10px;
}


tr{
  margin-top: 5px;
}

.dropdown{
  display: inline-block;
  width: 180px;
}

.dropdownContent{
  display: none;
  z-index: 1;
  background-color: #008ce4;
  width: 250px;
}
.dropdownContent a{
  color: #ffffff;
  font-size: 15px;
}

.dropdown:hover .dropdownContent{
  display: block;
}

.dropdown:hover .dArrow{
  transform: rotate(90deg);
}

@media only screen and (max-width:1500px){
  .sidebar{
    width: 200px;
  }
}

@media only screen and (max-width:800px){
  .sidebar {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: none;
    overflow: hidden;
  }

  body{
    background-color: #03588C;
  }


  .mainContent{
    margin-left: 0px;
    display: grid;
    margin-top: 0px;
    justify-content: center;
    align-content: center;
    width: 400px;
    background-color: #ffffff;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    width: auto;
    height: auto;
    box-shadow: 0px 3px 3px 3px black;
    padding-bottom: 20px;
  }

  .mainContent .map{
    width: 200px;
    height: 300px;
  }

  .mainContent .results{
    width: 200px;
    display: grid;
    margin-left: 0px;
  }

  .mainContent .searchBar{
    width: 250px;
  }

  .mainContent .resultsTable{
    width: 250px;
    height: 400px;
  }

  .mainContent .radios{
    font-size: 11px;
    align-content: center;
    justify-content: center;
    height: 0px;
    text-align: unset;
    margin-bottom: 25px;
    margin-top: 25px;
    width: 250px;
  }

  .content{
    color: #000000;
  }
  
}

.btnCall{
  border: 0px solid transparent;
  background: transparent;
  width: 180px;
  font-size: 15px;
  text-align: left;
  padding: 0px;
}

.modal{
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content{
  background-color: #f8f8ff;
  margin-top: 200px;
  padding: 20px;
  border: 1px solid #888888;
  width: 500px;
  height: 700px;
  border-radius: 20px;
  align-self: center;
  justify-self: center;
}

.close{
  color: #aaa;
  float: right;
  font-size: 20px;
  font-weight: bold; 
  cursor: pointer; 
}

.close:hover.close:focus{
  color: #000000;
  text-decoration: none;
  cursor: pointer;
}

.call-content{
  display: grid;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.call-content .search .searchContent{
  text-align: center;
}

.numbers{
  display: flex;
  justify-content: left;
  width: 350px;
  align-content: center;
  text-align: center;
  margin-bottom: 30px;
  border-bottom: 0.5px solid #000000;
}

.numbers .letter{
  font-size: 40px;
  border-radius: 50%;
  background-color: #1D5179;
  width: 60px;
  height:60px;
  text-align: center;
  color: #ffffff;
  margin-right: 20px;
  display: grid;
  align-content: center;
  margin-top: 15px;
}

.numbers h2{
  margin-right: 40px;
}

.numbers h5{
  margin-top: 40px;
}

.addContact{
  display: grid;
  justify-content: center;
  width: 50px;
  height: 30px;
  align-content: center;
  text-align: center;
  margin-bottom: 10px;
  bottom: 0px;
  font-size: 20px;
  background-color: #f27f3d;
  color: #ffffff;
  justify-self: right;
}

.addBTN{
  height: 30px;
  border: 0px solid transparent;
  background: transparent;
  background-color: #f27f3d;
  width: 180px;
  font-size: 15px;
  text-decoration: none;
}

.userPicture{
  height: 50px;
  width: 50px;
  border-radius: 360px;
}
