.content .search{
    align-content: center;
    display: flex;
    margin-top: 50px;
    text-align: center;
    width: 500px;
    height: 50px;
    border: 2px solid #cccccc;
    justify-content: center;
    border-radius: 10px;
}

.searchContent{
  width: 500px;
  border: none;
  justify-content: center;
}

.searchButton{
  margin: 12px;
  margin-top: 15px;
}

th{
    width: 200px;
    border-bottom: 1px solid black;
    /* margin: 10px; */
}

.incidencePicture{
    height: 150px;
    width: 200px;
}


table{
    border-collapse: collapse;
}

.status{
    background-color: #F27F3D;
    height: 30px;
    border-radius: 50px;
    color: #ffffff;
    width: 100px;
    text-decoration: none;
}

tr{
    margin: 20px;
}

table{
    display: grid;
    align-content: center;
}

.th2{
    height: 170px;
}

@media only screen and (max-width:800px){
    .content{
      justify-content: center;
      align-content: center;
      margin-left: 0px;
      background-color: #03588C;
      padding-bottom: 30px;
      color: #ffffff;
    }

    .content .search{
      align-content: center;
      display: flex;
      margin-top: 10px;
      text-align: center;
      width: 80%;
      height: 50px;
      border: 2px solid #cccccc;
      justify-content: center;
      border-radius: 40px;
      background-color: #ffffff;
    }
  
    [type=text]{
      border-radius: 40px;
    }

    table{
        width: 400px;
        font-size: smaller;
    }

    tr{
        height: 80px;
    }

    .incidenceTables{
        width: 400px;
    }

    th, td{
        width: 100px;
        padding: 5px;
    }

    .view{
        background-color: #F27F3D;
        height: 30px;
        color: #ffffff;
        width: 50px;
        text-decoration: none;
        border: none;
        font-size: x-small;
    }
    
    .print{
        background-color: #03588C;
        height: 30px;
        color: #ffffff;
        width: 50px;
        text-decoration: none;
        border: none;
        font-size: x-small;
    }

    .incidencePicture{
        height: 30px;
        width: 30px;
        border-radius: 360px;
        border: 1px solid #cecece;
    }

    .mainContent{
        padding-bottom: 80px;
    }

    .th2{
        height: 100px;
    }
  
}